section#questionThree.step.step_invisible.hidden
    .step__wrap
        .container
            .row
                .col-12
                    h3.section__title Заголовок третьего вопроса

        .container
            .row
                .col-12
                    p Содержание третьего вопроса

        .container
            .row
                .col-12
                    button.btn.btn_next Назад
                    button.btn.btn_next Далеше