//- Include used template for this page
extends ../../templates/default/template

//- Variables for include this in used template
block variables
    - let title       = 'Webpack template'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let pageClass   = 'write_here_page_id'

block content
    .container
        .row
            .col-8
                h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p.pb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequuntur cumque dignissimos illum, laboriosam laborum nostrum obcaecati officiis pariatur quis quod suscipit tempora ullam velit voluptatem. Iure molestias soluta tot